DJANGO_SECRET_KEY=dev-insecure-change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

DB_NAME=routelog_db
DB_USER=routelog_user
DB_PASSWORD=routelog_pass
DB_HOST=127.0.0.1
DB_PORT=5432

# Free key: https://openrouteservice.org/dev/#/signup
ORS_API_KEY=ORS_API_KEY